<app-header></app-header>

<div class="container-fluid home_banner_block inner_banner_block">
    <div class="home_banner_block_body">
        <div class="bannermainbox2">
            <ul class="list-inline">
                <li class="list-inline-item"><img width="1920" height="717" src="assets/images/labs_banner.jpg"></li>
            </ul>
        </div>
        <div class="home_banner_block_wrapper">
            <h2>PROVIDING BEST-IN-INDUSTRY AT-HOME HEALTHCARE SERVICES  </h2>
            <h3>FOR OVER 20 YEARS</h3>
        </div>
    </div>
</div>

<div class="container-fluid home_banner_block1 listwrapperblock">
    <div class="container-fluid about_wrapper labs_wrapper">
        <div class="row is-table-row">
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline">
                    <li class="list-inline-item"><img width="960" height="387" src="assets/images/labs_img1.jpg"></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>We have created a consortium of sophisticated laboratory partners, eliminating the technological shortfalls, the “less than favorable performance” associated with properly pre-qualifying of a laboratory service, resulting in eliminating co-payment and invoicing nightmares which we manage the entire process, ensuring an accurate assessment up front of benefit coverage for both federal and private/commercial benefit programs. All laboratories must abide by stringent guidelines to adhere to all regulatory compliance ensuring accurate healthcare procedures and proper specimen adjudication.
                    <br>
                    <br> We take care of the entire process – Getting the Testing or Specimen Kit delivered to your doorstep, providing instructions on how patients can complete the self-administering tests as well as the proper packaging of test specimens, pick-up and delivery of test samples to the laboratories, delivery of results, etc.</p>
            </div>
        </div>
        <div class="row is-table-row">
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline">
                    <li class="list-inline-item"><img width="960" height="387" src="assets/images/labs_img2.jpg"></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <p>We only work with Labs who has the proven expertise in providing the highest quality in testing procedures and the precision of results. We understand that medical testing can be frightening experience and we are dedicated in only working with labs that has state of the art technology and cutting edge methodologies that leads to accurate and reliable diagnosis.
                    <br>
                    <br> If you are looking for laboratories with quality testing services and state-of-the-art technology and equipment in place, this is the place for you. Our laboratories guarantee reliable results along with rapid turnabout time – unparalleled services that are sure to cater to a varying range of healthcare requirements that you may experience the need for.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>