<app-header></app-header>

<div class="container-fluid home_banner_block inner_banner_block">
    <div class="home_banner_block_body">
        <div class="bannermainbox2">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <img width="1920" height="717" src="assets/images/service_banner.jpg" class="attachment-img-icon size-img-icon" alt="">
                </li>
            </ul>
        </div>
        <div class="home_banner_block_wrapper">
            <h2>AT-HOME HEALTHCARE SERVICES BROUGHT TO YOU</h2>
            <h3>AT YOUR DOORSTEP BY SONOMA HEALTH Services</h3>
        </div>
    </div>
</div>

<div class="container-fluid home_banner_block1 service_banner_block1">
    <div class="row is-table-row">
        <div class="col-md-6 col-sm-12">
            <ul class="list-inline">
                <li class="list-inline-item"><img width="960" height="500" src="assets/images/service_image1.jpg"></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="widget-title">services</h3>
            <p>We offer coordinated health care services across many verticals within the healthcare arena. We take considerable pride in offering a proactive approach to individuals health care needs that will allow our services to reach a national level.</p>
            <h4>Our professional patient advocates offers:</h4>
            <ul>
                <li>Saliva tests that can easily be performed</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid serviceblock servicepageblock">
    <div class="mainwrapper1">
        <div class="container-fluid home_banner_block1 home_banner_block2 home_banner_block2_img1 listwrapperblock">
            <div class="row is-table-row">
                <div class="col-md-5 col-sm-12">
                    <ul class="list-inline">
                        <li class="list-inline-item"><img width="664" height="549" src="assets/images/service_image2.jpg"></li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/home_block2_arrow.png" alt="#" class="home_block2_arrow">
                    <p>Hereditary or<span> “predisposition” </span> genetic testing looks for specific inherited changes (mutations) in a person’s genetic make-up. Genetic mutations can have harmful, beneficial, neutral, or uncertain impacts on health. Mutations that are harmful may increase a person’s chance, or risk, of developing a disease such as cancer. Overall, inherited mutations are thought to play a role in 5-10% of all cancers. These particular disease states are known as hereditary cancers, and proper genetic testing can be used to determine an individual’s risk.
                        <br>
                        <br> Cancer is a disorder in which normal control of cell growth is lost—causing abnormal proliferation of the effected cells. Inherited genetic mutations can increase a person’s risk of developing cancer through a variety of mechanisms, depending on the function of the mutated gene. Mutations in genes that control the repair of damaged DNA and cell growth are particularly likely to be associated with an increased risk of cancer.
                        <br>
                        <br> Some people inherit mutation(s) in the germline, potentially allowing for the cancers associated with the mutation(s) to be passed on. These mutation(s) occur in two classes of cellular genes: oncogenes and tumor suppressor genes.</p>
                    <span class="highlightedtxt"> Often, multiple genetic mutations in a single individual are  responsible for the development of hereditary cancers. </span>
                    <a href="javascript:void(0);" class="btngreen btngetstarted">get tested now</a>

                </div>
            </div>
        </div>
        <div class="container-fluid home_banner_block1 home_banner_block2 home_banner_block2_img2 listwrapperblock">
            <div class="row is-table-row">
                <div class="col-md-5 col-sm-12">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <img width="664" height="483" src="assets/images/service_image3.jpg" class="attachment-img-icon size-img-icon">
                        </li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/home_block2_arrow.png" alt="#" class="home_block2_arrow">
                    <h4>Who Should Get Tested</h4>
                    <p>If you suspect that you or someone you know may have an increased risk for cancer, based on factors like abnormal familial cancer history or membership to an at-risk ethnic population (such as Ashkenazi Jewish ancestry), you may want to discuss advanced genomic testing options like our Cancer Genomics with your healthcare provider.</p>
                    <blockquote>
                        If one of your family members, however distant, has been diagnosed with cancer, there is a chance that you inherited a gene mutation that not only increases your personal risk of developing cancer, but may also be passed on to your offspring—potentially increasing their risk of developing cancer.
                    </blockquote>
                    <p>Mutation of the genes known to be associated with an increased risk of developing cancer, like those involved in DNA repair, often result in cancers that appear unique. An individual’s familial cancer history may include a number of seemingly distinct cancer cases. This mistakingly leads to the belief that the cancers are un-related, and not caused by a hereditary mutation.</p>
                    <a href="javascript:void(0);" class="btngreen btngetstarted">get tested now</a>
                </div>
            </div>
        </div>
        <div class="container-fluid home_banner_block1 home_banner_block2 home_banner_block2_img3 listwrapperblock">
            <div class="row is-table-row">
                <div class="col-md-5 col-sm-12">
                    <ul class="list-inline">
                        <li class="list-inline-item"><img width="664" height="359" src="assets/images/service_image4.jpg"></li>
                    </ul>
                </div>
                <div class="col-md-7 col-sm-12">
                    <img src="assets/images/home_block2_arrow.png" alt="#" class="home_block2_arrow">
                    <h4>Benefits of Testing</h4>
                    <p>Those who are carriers of hereditary cancer gene mutations, may be at risk of developing cancer earlier in life, as compared to members of the general population. <span>The sooner genetic testing is performed, the more likely it is that this increased risk can be managed appropriately.</span>
                        <br>
                        <br>Numerous professional practice guidelines describe increasingly stringent monitoring protocol—published specifically for management of patients in which deleterious mutation has been identified. These protocols may suggest the increased use of routine screening tools like mammograms and colonoscopies. Depending on the severity of the identified mutation(s), they may also suggest discussion of more aggressive options like prophylactic surgical intervention. Remember, <span>your healthcare professional is your most valuable source of information.</span></p>
                    <a href="javascript:void(0);" class="btngreen btngetstarted">get tested now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>