<app-header></app-header>

<div class="container-fluid home_banner_block inner_banner_block">
    <div class="home_banner_block_body">
        <div class="bannermainbox2">
            <ul class="list-inline">
                <li class="list-inline-item"><img width="1920" height="717" src="assets/images/about_banner.jpg" class="attachment-img-icon size-img-icon"></li>
            </ul>
        </div>
        <div class="home_banner_block_wrapper">
            <h2>OFFERED LABS</h2>
            <h3>VAST RANGE OF AT-HOME HEALTHCARE SERVICES FROM THE TOP PROFESSIONALS IN THE INDUSTRY</h3>
        </div>
    </div>
</div>

<div class="container-fluid about_new_block">
    <div class="row is-table-row">
        <div class="col-md-6 col-sm-12 about_new_text ad_about_new_text ad_about_new_text1">

            <h3><p>At Sonoma Health Services, there are a large number of lab tests that you can conduct within the very comforts off your home and send the test samples to our labs for testing. Some of our At-Home Healthcare tests include:</p></h3>
            <ul>
                <!--<li>Comprehensive Wellness Panel</li>-->
                <li>Pharmacogenomics (PGX) Screening</li>
                <!--<li>ARS testing</li>-->
                <!--<li>Allergy</li>-->
                <li>Cancer Genomics (CGX) Screening</li>
                <!--<li>Gastrointestinal</li>-->
                <!--<li>Respiratory Infections</li>-->
                <!--<li>Inherited Conditions</li>-->
            </ul>

            <h2>WHAT IS CGX TESTING?</h2>
            <h3><p>CGX stands for Cancer genomics, and is a testing service to determine whether a person has the Cancer Genome within their body or not. CGX testing is not only beneficial for the detection and treatment of cancerous cells within the body, but it also helps to detect the cancer genomes within the body – genes that could eventually lead to the development of cancer. Every year, close to 2 million people is diagnosed with cancer in the United States alone. More than 500-600 people die every year, just in USA. CGX testing can offer enormous amounts of data to reveal patterns and help with diagnosis so that people can either prevent the manifestation of the disease or detect it at its very early stages.
    <br><br> 
    Additionally, data from CGX testing can also help a great deal with the proper, accurate and effective treatment.</p></h3>

        </div>
        <div class="col-md-6 col-sm-12 about_new_img">
            <ul class="list-inline">
                <li class="list-inline-item"><img width="970" height="727" src="assets/images/greenvalley_about_new_img-1.jpg"></li>
            </ul>
        </div>

    </div>
</div>

<div class="container-fluid home_banner_block1 listwrapperblock ad_about_new_text ad_about_new_text2">
    <div class="container-fluid about_wrapper">
        <div class="row is-table-row">
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline">
                    <li class="list-inline-item"><img width="800" height="561" src="assets/images/about_img1.jpg"></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <aside id="custom_html-16" class="widget_text widget widget_custom_html amr_widget">
                    <h3 class="widget-title">WHAT IS PGX TESTING?</h3>
                    <div class="textwidget custom-html-widget">
                        <p>PGX testing, also known as pharmacogenetics testing, refers to the study of how genes affect a person’s response to drugs. The revolutionary DNA drug sensitivity testing screens medications before therapy helps patients avoid drugs they won’t process or metabolize well. The PGX test provides the treating physician insights that can help them prescribe the right medication from the beginning.
                            <br>
                            <br> There are approx. 4.45 billion prescriptions issued every year in the US. Researchers estimate that commonly prescribed medications may not work in up to 60% of patients. 95% of people have at least 1 gene variation that will affect how well drugs will work with their body.</p>

                        <h4>Types of PGX testing</h4>

                        <ul>
                            <li>Cardiac</li>
                            <li>General</li>
                            <li>Pain</li>
                            <li>Psych</li>
                        </ul>

                        <h4>Additional Benefits for PGX testing</h4>
                        <ul>
                            <li>Avoid Adverse Drug Reactions</li>
                            <li>Maximize drug efficacy</li>
                            <li> Doctors can prescribe with more confidence</li>
                            <li> Clear understandable reports</li>
                        </ul>
                    </div>
                </aside>
            </div>

        </div>
        <div class="row is-table-row">
            <div class="col-md-6 col-sm-12">
                <ul class="list-inline">
                    <li class="list-inline-item"><img width="940" height="379" src="assets/images/about_img2.jpg"></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <aside id="custom_html-17" class="widget_text widget widget_custom_html amr_widget">
                    <h3 class="widget-title">WHAT IS CARS TESTING?</h3>
                    <div class="textwidget custom-html-widget">
                        <p>CARS testing, also known as Cysteinyl-tRNA Synthetase testing, help to detect alterations within the body that may eventually lead to more harmful conditions. Some of these conditions include:
                        </p>
                        <ul>
                            <li>Beckwith-Wiedemann syndrome</li>
                            <li>Wilms tumor</li>
                            <li> Rhabdomysosarcoma</li>
                            <li>Adrenocortical Carcinoma</li>
                            <li>Inflammatory Myofibrobllastic tumors</li>
                            <li>Cancers in the lungs, breasts or ovaries</li>
                        </ul>
                    </div>
                </aside>
            </div>

        </div>

    </div>
</div>

<app-footer></app-footer>