<app-header></app-header>

<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
       
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      
        <div class="carousel-inner">
          <div class="item active">
              
          </div>
      
          <div class="item">
              
          </div>
      
          <div class="item">
              
          </div>
        </div>
      
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> -->

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="home_banner_block_body">
                    <div class="bannermainbox2">
                      <img src="assets/images/homebannerimg1.jpg" alt="Los Angeles">
                      <div class="home_banner_block_wrapper">
                          <h2>CHAMPIONING THE AT-HOME HEALTHCARE MODEL</h2>
                          <h3>WITH OVER 20 YEARS EXPERIENCE</h3>                                       
                      </div>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="home_banner_block_body">
                    <div class="bannermainbox2">
                      <img src="assets/images/greenvalley_banner2-1.jpg" alt="Los Angeles">
                      <div class="home_banner_block_wrapper">
                          <h2>OUR MISSION IS SIMPLE</h2>
                          <h3>IMPROVE THE QUALITY OF LIFE WHILE BRINGING AWARENESS TO AN INDIVIDUAL’S PERSONAL HEALTH CARE NEEDS</h3>                                     
                      </div>
                    </div>
                  </div>
            </div>
            <div class="carousel-item">
                <div class="home_banner_block_body">
                    <div class="bannermainbox2">
                      <img src="assets/images/greenvalley_banner3.jpg" alt="Los Angeles">
                      <div class="home_banner_block_wrapper">
                          <h2>UNMATCHED LEADERS</h2>
                          <h3>WE BRING QUALITY HOME-BASED HEALTH CARE SERVICES TO THOSE INDIVIDUALS IN NEED</h3>                                     
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="carousel-controls">
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          </div>
          
        </div>

      <div class="container-fluid home_banner_block1 listwrapperblock homepage">
          <div class="row is-table-row">
              <div class="col-md-6 col-sm-12 homebannerblock1left">
                  <ul class="list-inline"><li class="list-inline-item">
                    <img width="960" height="500" src="assets/images/home_block1_imgleft.jpg"></li>
                  </ul>
              </div>
              <div class="col-md-6 col-sm-12 homebannerblock1right">                        
                <p><span class="txtbigsml">We are a national  patient advocate outreach organization with over 20 years of experience who takes considerable pride in offering coordinated home health care services to individuals.</span> Our focus is to proactively improve the quality of life while bringing awareness to an individual’s personal health care needs. Our belief, centers around taking an active role as opposed to a reactive role toward one’s personal wellness approach. Our professional patient advocates will assist by identifying the key dynamics of ailments and disease early on, which will have a positive impact for the future in helping to reduce the continued rising cost of health care.<br><br>What makes our value proposition so compelling is our process and ability in providing proprietary technology that can benefit and enhance individual’s overall wellness.</p>                    
              </div>
          </div>
      </div>


      <div class="container-fluid serviceblock innerserviceblock">
          <div class="mainwrapper1">
             <aside id="custom_html-6" class="widget_text widget widget_custom_html amr_widget"><h3 class="widget-title">Service Block Content Main Header</h3><div class="textwidget custom-html-widget"><h2>Services</h2></div></aside><p></p>
          <div class="container-fluid home_banner_block1 home_banner_block2 listwrapperblock">
          <div class="row is-table-row">
          <div class="col-md-5 col-sm-12 serviceblockleft"><ul class="list-inline"><li class="list-inline-item"><img width="664" height="189" src="assets/images/home_block2_imgright.jpg"></li></ul></div>
          <div class="col-md-7 col-sm-12 serviceblockright"><img src="assets/images/home_block2_arrow.png" alt="#" class="home_block2_arrow"><div class="textwidget custom-html-widget"><p>Today’s scientific community is working diligently to minimize the invasive nature of these types of tests, fostering new verticals that will become available in our offering of in home health care services as they become ready for market. These principals align closely with our company’s mission and vision statements. We truly strive to be part of the future of medicine through our offerings in the home healthcare service arena.</p></div></div>
          </div>
          </div>
          <div class="textwidget custom-html-widget"><h3>OUR PROFESSIONAL PATIENT ADVOCATES OFFER </h3></div>
          <div class="container-fluid home_banner_block3">
          <div class="row is-table-row">
                            
                          <div class="col-md-12 col-sm-6 col-xs-12 oursalesofferslist">
                              <div class="row is-table-row">  
                                  <div class="col-md-4 col-sm-12 col-xs-12"><div class="imgblockwrapper"><img width="115" height="115" src="assets/images/home_block3_ouroffersimg1.png"></div> </div>    
                                  <div class="col-md-9 col-sm-12 col-xs-12">
                                    <p>Saliva tests that can be done through a tube or a swab</p></div>      
                              </div>
                          </div>           
                      
                     <div class="clearfix"></div>
             </div>
          <p></p></div>
          <div class="textwidget custom-html-widget"><h3>OUR  expertise covers (but is not limited to) the following</h3></div>
          <div class="container-fluid home_banner_block4">
          <div class="row">
                            
                          <div class="col-md-4 col-sm-12 col-xs-12 weexpertisecoverslist">
                              <div class="row">                           
                                  <div class="col-md-12 col-sm-12 col-xs-12"><h4>Cancer Genomics (CGX)</h4></div>    
                                  <div class="col-md-12 col-sm-12 col-xs-12"><div class="imgblockwrapper"><img width="515" height="248" src="assets/images/home_banner_block4_img1.jpg"></div> 
                                </div>    
                              </div>
                          </div>           
                      
                                 
                          <div class="col-md-4 col-sm-12 col-xs-12 weexpertisecoverslist">
                              <div class="row">                           
                                  <div class="col-md-12 col-sm-12 col-xs-12"><h4>Pharmacogenomics (PGX)</h4></div>    
                                  <div class="col-md-12 col-sm-12 col-xs-12"><div class="imgblockwrapper"><img width="515" height="248" src="assets/images/home_banner_block4_img2.jpg"></div> </div>    
                              </div>
                          </div>           
                      
                                 
                          <div class="col-md-4 col-sm-12 col-xs-12 weexpertisecoverslist">
                              <div class="row">                           
                                  <div class="col-md-12 col-sm-12 col-xs-12"><h4>CARS Testing</h4></div>    
                                  <div class="col-md-12 col-sm-12 col-xs-12"><div class="imgblockwrapper"><img width="500" height="334" src="assets/images/dreamstime_xxl_118918464.jpg"></div> </div>    
                              </div>
                          </div>           
                      
                     <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>

          <div class="container-fluid home_banner_block5">
              <div class="row">
                <div class="col-md-6 col-sm-12 home_banner_block5_info">
                  <div class="textwidget custom-html-widget"><h3>Labs</h3>
                    <p>We have created a consortium of sophisticated laboratory services, eliminating the technological shortfalls – the “less than favorable performances” – associated with properly pre-qualifying for a laboratory service, resulting in the elimination of patient hassles and unnecessary confusions, while also ensuring an accurate assessment up-front of benefit-coverage for both federal and private/commercial benefit programs. All our laboratory services completely abide by the stringent guidelines and adhere to all regulatory compliance ensuring accurate healthcare procedures.
                    <br><br>
                    We have deep relationships with the top laboratories across the country. As an industry innovator, we maintain a continuous pulse check monitoring the evolution of in-home healthcare services which enables us to introduce these future in-home services that can then be offered as they become available.              
                    </p>
                  </div>
                </div>              
              </div>              
            </div>    


            

<app-footer></app-footer>
